
.blog-foot {
  border-color: var(--un-c-divider-light);
  border-top: 1px solid rgba(0,0,0,.04);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}
.dark-theme .blog-foot > div,
.dark-theme .blog-foot a {
  color: var(--un-c-text-light);
}

.blog-foot div {
  padding: 16px 20px;
  font-family: var(--un-f-base);
  font-size: 13px;
  font-weight: 500;
  color: #0006;
  letter-spacing: .2px;
  text-align: center;
}

hr, .yue hr {
  margin: 2em auto;
  width: 100px;
  border: 1px solid #E9E9E9;
  border-width: 2px 0 0 0;
}
 
code {
  padding: 2px 4px; color: #B94A48;
  background: #F3F3F3;
  font-size: 0.86em;
}

pre code {
  padding: 3px;
  color: var(--syntax-text);
  background: none;
}

.item.Text .item-content,
.item.Text .item-category {
  color: var(--un-c-text-light);
}

.item.Text .item-category {
  font-weight: 600;
}

p.more {
  text-align: center;
  font-size: .9em;
}

.item-content a {
  color: var(--link-color);
  text-decoration: none;
}

.item-content a:hover, .item-content a:active {
  color: var(--link-color-active);
}

.side_logo-img {
  border-radius: 50%;
}

.side-hr {
  margin: 16px 0;
}

.side-description {
  color: var(--un-c-text-light);
  font-size: .8em;
}

.item time, time.dt-published {
  color: rgba(var(--un-rc-invert),0.50);
  font-weight: 400;
}

time.dt-published {
  vertical-align: baseline;
}

.side_social {
  margin-top: 0;
}

@media screen and (max-width: 720px) {
  .side .inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .item {
    padding-bottom: 20px;
  }

  .side-hr, .side-description {
    display: none;
  }

  .side_social {
    margin-top: 24px;
  }
}
