
.blog-foot {
  border-color: var(--un-c-divider-light);
  border-top: 1px solid rgba(0,0,0,.04);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}
.dark-theme .blog-foot > div,
.dark-theme .blog-foot a {
  color: var(--un-c-text-light);
}

.blog-foot > div {
  padding: 16px 20px;
  font-family: var(--un-f-base);
  font-size: 13px;
  font-weight: 500;
  color: #0006;
  letter-spacing: .2px;
  text-align: center;
}

hr, .yue hr {
  margin: 2em auto;
  width: 100px;
  border: 1px solid #E9E9E9;
  border-width: 2px 0 0 0;
}

pre, code {
  line-height: 1.5;
}
 
code {
  padding: 2px 4px; color: #B94A48;
  background: #F3F3F3;
  font-size: 0.86em;
}

pre code {
  padding: 0;
  color: var(--syntax-text);
  background: none;
  font-size: 15px;
}

.e-content pre {
  margin: 0 0 1.12em !important;
  border-radius: 0 !important;
}

.item.Text .item-content,
.item.Text .item-category {
  color: var(--un-c-text-light);
}

.item.Text .item-category {
  font-weight: 600;
}

p.more {
  text-align: center;
  font-size: .9em;
}

.item-content a {
  color: var(--link-color);
  text-decoration: none;
}

.item-content a:hover, .item-content a:active {
  color: var(--link-color-active);
}

.side_logo-img {
  border-radius: 50%;
}

.side-hr {
  margin: 16px 0;
}

.side-description {
  color: var(--un-c-text-light);
  font-size: .8em;
}

.item time, time.dt-published {
  color: rgba(var(--un-rc-invert), 0.50);
  font-weight: 400;
}

time.dt-published {
  vertical-align: baseline;
}

.side_social {
  margin-top: 0;
}

@media (max-width: 720px) {
  .side .inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .item {
    padding-bottom: 20px;
  }

  .side-nav-more {
    display: none !important;
  }
}

@media (max-width: 1100px) {
  .side-hr, .side-description {
    display: none;
  }

  .side_social {
    margin-top: 24px;
  }
}

.icon-browse {
  --icon-url: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 24 24' id='t-icon-browse' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_8726_7319)'%3E%3Cpath d='M2.097 12c1.441 4.08 5.332 7 9.903 7 4.57 0 8.46-2.92 9.902-7C20.461 7.92 16.57 5 12 5c-4.57 0-8.462 2.92-9.903 7zm-2.008-.304C1.7 6.654 6.421 3 12 3c5.58 0 10.302 3.654 11.91 8.696l.098.304-.097.304C22.3 17.346 17.578 21 12 21 6.42 21 1.698 17.346.09 12.304L-.009 12l.097-.304zM12 9a3 3 0 100 6 3 3 0 000-6zm-5 3a5 5 0 1110 0 5 5 0 01-10 0z' fill='currentColor'%3E%3C/path%3E%3C/g%3E%3C/svg%3E")
}

.icon-link {
  --icon-url: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 24 24' id='t-icon-arrow-right-up' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.99 16.596l8.192-8.192H7.818v-2h9.778v9.778h-2V9.818L7.403 18.01 5.99 16.596z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
}

.view-count-container {
  float: right;
  color: rgba(var(--un-rc-invert), 0.50);
}

.view-count-container .view-icon {
  position: relative;
  top: -2px;
  margin-right: 2px;
}

.comment-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  background-image: none;
  border: .05rem solid #bcc3ce;
  border-radius: .1rem;
  height: 1.8rem;
  line-height: 1.2rem;
  max-width: 100%;
  outline: 0;
  padding: .25rem .5rem;
  position: relative;
  transition: background .2s,border .2s,box-shadow .2s,color .2s;
}

input.comment-input {
  min-width: 280px;
}

textarea.comment-input {
  width: 100%;
  min-height: 8em;
  padding: .5em;
  box-sizing: border-box;
  line-height: 1.4;
}

.comment-input:focus {
  border-color: var(--link-color);
  box-shadow: 0 0 0 .1rem rgba(var(--link-color-rgb), 0.2);
}

.comment-input:-ms-input-placeholder {
  color: #bcc3ce
}

.comment-input::-ms-input-placeholder {
  color: #bcc3ce
}

.comment-input::placeholder {
  color: #bcc3ce
}

:root {
  --syntax-light-pre-bg: #f5f2f0;
  --syntax-light-text: #000;
}

.aplayer {
  display: none;
}

.aplayer-ready .aplayer {
  display: block;
}

.toc-container {
  margin-bottom: 1.12em;
}

.toc {
  border: 1px solid rgba(var(--un-rc-invert), 0.2);
  display: inline-block;
  padding: 16px 32px 16px 20px;
}

.toc > ul {
  display: inline-block;
  margin-bottom: 0;
}

.toc-title {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.e-content code {
  word-break: break-all;
}

.e-content table {
  margin-bottom: 1.12em;
}

.aplayer .aplayer-pic .aplayer-button i {
  color: #fff;
}

.e-content > p.small, .e-content > div.small {
  font-size: .8em;
  color: #666;
  border: 1px solid #ccc;
  padding: 10px 14px;
  margin-bottom: 1.12em;
}

.e-content > div.small > *:last-child {
  margin-bottom: 0;
}

.archives-item-category {
  color: #888;
  margin-right: 4px;
}

.archives-item-category::before {
  content: '[';
  margin-right: 2px;
}
.archives-item-category::after {
  content: ']';
  margin-left: 2px;
}

.page-meta {
  position: absolute;
  right: 0;
  top: 8px;
}

.h-entry {
  position: relative;
}
